  <div class="p-grid">
    <p-card class="p-col-12 p-md-6 p-lg-3" *ngFor='let planet of Planets' [style]="{width: '360px'}">
      <p-header>
        <img src="Card" src="{{planet.image_url}}" height='300px'>
        <h1 style="text-align:center; padding-bottom: 1rem;">{{planet.name}}</h1>
      </p-header>
      <p>{{planet.description}}</p>
      <p-footer>
        <button pButton type="button" [routerLink]="['/planets', planet.id]" label="Ver detalhes" icon="pi pi-search-plus"></button>
      </p-footer>
    </p-card>    
  </div>
