  <p-card>

    <p-header style = "text-align: center; align-content: center;">
      <div>
        <img src="{{planet.image_url}}" alt="flat-earth" style = "width: 60%; align-self: center;">        
      </div>
      <h1>{{planet.name}}</h1>    
    </p-header>
    <div>
      <h2>Descricao</h2>
      <p>{{planet.description}}</p>
      
      <h2>Presenca de agua</h2>
      <p *ngIf='planet.water; else noWater'>
        Sim
      </p>
      <ng-template #noWater>
        Nao
      </ng-template>

      <h2>Quando foi descoberto</h2>
      <p >{{planet.discovery | date: 'dd/MM/yyyy' }}</p>

      <h2>Diametro</h2>
      <p>{{planet.radius}}</p>
    </div>
    <p-footer>
      <button pButton type="button" label="Editar" [routerLink]="['/planets', planet.id, 'edit']" icon="pi pi-pencil" style="margin-right: .25em"></button>
      <button pButton type="button" label="Deletar" (click)="deletePlanet(planet)" icon="pi pi-times" style="margin-right: .25em"></button>
    </p-footer>
  </p-card>
