<form [formGroup]="planetForm" (ngSubmit)="submitForm()" novalidate>
  <p-card>
    <p-header style="text-align: center;">
      <h1>Criar Planeta</h1>
    </p-header>
    <div>
      <h3>Nome</h3>
      <input type="text" pInputText formControlName="name">
    </div>

    <div>
      <h3>Descricao</h3>
      <textarea pInputTextarea formControlName="description"></textarea>
    </div>

    <div>
      <h3>URL da imagem</h3>
      <input type="text" size=50 pInputText formControlName="image_url" >
    </div>

    <div>
      <h3>Diametro</h3>
      <input type="number" pInputText formControlName="radius" >
    </div>

    <div>
      <h3>Possui agua?</h3>
      <p-inputSwitch formControlName="water"></p-inputSwitch>
    </div>


    <div>
      <h3>Data da descoberta</h3>
      <p-calendar formControlName="discovery"></p-calendar>
    </div>

    <p-footer>
      <button pButton label="Salvar" icon="pi pi-plus"></button>
    </p-footer>

  </p-card>
</form>